body {
    font-family: Helvetica;
    text-align: center;
}

a {
  font-size: 18px;
  color: white;
}

.image {
    background-image: url("../images/the-flatiron-building.png");
}

.maintitle {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

.subtitle1 {
  font-size: 23px;
  font-weight: bold;
}
